[project]
name = "innohassle-accounts"
version = "0.1.0"
description = ""
authors = [{ name = "Ruslan Bel'kov", email = "ruslan.belckov@yandex.ru" }]
requires-python = ">=3.13,<3.14"
readme = "README.md"
dependencies = [
    "authlib>=1.2.1,<2",
    "beanie>=1.25.0,<2",
    "colorlog>=6.8.2,<7",
    "fastapi>=0.115.0,<0.116",
    "fastapi-swagger>=0.2.3,<0.3",
    "gunicorn==23.0.0",
    "httpx>=0.27.0,<0.28",
    "itsdangerous>=2.1.2,<3",
    "pre-commit>=3.6.2,<4",
    "pydantic[email]>=2.6.3,<3",
    "python-multipart>=0.0.10,<0.0.11",
    "pyyaml>=6.0.1,<7",
    "ruff>=0.6.7,<0.7",
    "uvicorn>=0.30.6,<0.31",
]

[tool.ruff]
line-length = 120
lint.extend-select = ["I", "UP", "PL"]
lint.extend-ignore = ["PLC0415", "PLR"]
target-version = "py313"
