[project]
name = "accounts"
version = "0.1.0"
description = ""
authors = [{ name = "one-zero-eight" }]
urls = { homepage = "https://t.me/one_zero_eight" }
readme = "README.md"
requires-python = ">=3.13,<3.14"

dependencies = [
    "aiolimiter>=1.2.0",
    "authlib>=1.6.5",
    "beanie>=1.30.0,<3.0.0",
    "colorlog>=6.8.2",
    "fastapi>=0.115.0",
    "fastapi-swagger>=0.4.39",
    "gunicorn==23.0.0",
    "httpx>=0.27.0",
    "itsdangerous>=2.1.2",
    "pre-commit>=3.6.2",
    "pydantic[email]>=2.6.3",
    "python-multipart>=0.0.10",
    "pyyaml>=6.0.1",
    "ruff>=0.6.7",
    "uvicorn>=0.30.6",
]

[tool.ruff]
line-length = 120
lint.extend-select = ["I", "UP", "PL"]
lint.extend-ignore = ["PLC0415", "PLR"]
target-version = "py313"
