# yaml-language-server: $schema=settings.schema.yaml
$schema: "./settings.schema.yaml"
auth:
  # Run 'openssl rand -hex 32' to generate key
  session_secret_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  # Run 'openssl genrsa -out private.pem 2048' to generate keys
  jwt_private_key: |
    -----BEGIN RSA PRIVATE KEY-----
    ssssssssssssssssssssssssssssss
    ssssssssssssssssssssssssssssss
    ssssssssssssssssssssssssssssss
    ssssssssssssssssssssssssssssss
    -----END RSA PRIVATE KEY-----
  # For existing key run 'openssl rsa -in private.pem -pubout -out public.pem'
  jwt_public_key: |
    -----BEGIN PUBLIC KEY-----
    ssssssssssssssssssssssssssssss
    ssssssssssssssssssssssssssssss
    sssssssssss
    -----END PUBLIC KEY-----
mongo:
  uri: mongodb://mongoadmin:secret@localhost:27017/db?authSource=admin
telegram: null
accounts:
  # Get from https://api.innohassle.ru/accounts/v0/tokens/generate-service-token?sub=accounts-local-dev&scopes=users&only_for_me=true
  api_jwt_token: null
web_url: http://127.0.0.1
